In [19]:
import numpy as np
import matplotlib.pyplot as plt
import mpld3
import pandas as pd
import seaborn as sn
import warnings

from scipy import stats

warnings.filterwarnings('ignore')
# pd.set_option('display.max_rows', 2)
mpld3.enable_notebook()
%matplotlib inline

Read the data in...

In [8]:
A = pd.read_csv('EDA/A.csv', parse_dates=True, index_col=0)
B = pd.read_csv('EDA/B.csv', parse_dates=True, index_col=0)
C = pd.read_csv('EDA/C.csv', parse_dates=True, index_col=0)

Merge the three dataframes...

In [14]:
merged_df = A.join(B, how='outer', lsuffix='_A', sort=True).join(C, how='outer', lsuffix='_B', rsuffix='_C', sort=True)
merged_df

,Open_A,High_A,Low_A,Close_A,Adj Close_A,Volume_A,Open_B,High_B,Low_B,Close_B,Adj Close_B,Volume_B,Open_C,High_C,Low_C,Close_C,Adj Close_C,Volume_C
Date,,,,,,,,,,,,,,,,,,
2015-05-15,18251.970703,18272.720703,18215.070313,18272.560547,18272.560547,108220000.0,2122.070068,2123.889893,2116.810059,2122.72998,2122.72998,3.092080e+09,12.46,13.090000,12.350000,12.380000,12.380000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-05-14,23049.060547,23630.859375,22789.619141,23625.339844,23625.339844,472700000.0,2794.540039,2852.800049,2766.639893,2852.50000,2852.50000,5.641920e+09,35.16,39.279999,32.330002,32.610001,32.610001,0.0

Check if there are any NaN values...

In [15]:
merged_df[merged_df.isnull().all(axis=1)]

Empty DataFrame
Columns: [Open_A, High_A, Low_A, Close_A, Adj Close_A, Volume_A, Open_B, High_B, Low_B, Close_B, Adj Close_B, Volume_B, Open_C, High_C, Low_C, Close_C, Adj Close_C, Volume_C]
Index: []

Shows that we have no rows with all fields missing. 

Our analysis is based on the closing price, check if any are missing...

In [16]:
merged_df[['Close_A', 'Close_B', 'Close_C']].isnull().any(axis=1).sum()

148

We need to drop those 148 rows...

In [17]:
valid_close_df = merged_df.dropna(subset=['Close_A', 'Close_B', 'Close_C'], how='any')

check again...

In [18]:
valid_close_df[['Close_A', 'Close_B', 'Close_C']].isnull().any(axis=1).sum()

0

Check for other NaN values...

In [20]:
valid_close_df.isnull().any(axis=1).sum()

165

We are going to backfill these NaN values...

In [22]:
valid_close_complete = valid_close_df.fillna(method='backfill')

In [24]:
valid_close_complete.isnull().any(axis=1).sum()

0

### Descriptive Statistics

Have to reset pandas display option first (prolly ditch this)

In [26]:
pd.set_option('display.max_rows', None) 

valid_close_complete.describe()

,Open_A,High_A,Low_A,Close_A,Adj Close_A,Volume_A,Open_B,High_B,Low_B,Close_B,Adj Close_B,Volume_B,Open_C,High_C,Low_C,Close_C,Adj Close_C,Volume_C
count,1111.000000,1111.000000,1111.000000,1111.000000,1111.000000,1.111000e+03,1111.000000,1111.000000,1111.000000,1111.000000,1111.000000,1.111000e+03,1111.000000,1111.000000,1111.000000,1111.000000,1111.000000,1111.0
mean,22291.125036,22402.395046,22168.922744,22292.881128,22292.531416,2.614436e+08,2517.857235,2529.804546,2504.360406,2518.053995,2518.053995,3.746609e+09,14.628353,17.614230,16.655851,16.417606,16.417606,0.0
std,3771.056417,3784.558787,3755.740756,3769.395516,3767.906829,1.537677e+08,374.081451,375.376401,373.086693,374.314671,374.314671,9.013618e+08,29.023906,9.056045,20.123487,8.016538,8.016538,0.0
min,15676.259766,15897.820313,15370.330078,15660.179688,15660.179688,4.589000e+07,1833.400024,1847.000000,1810.099976,1829.079956,1829.079956,1.296540e+09,-400.000000,9.310000,8.560000,9.140000,9.140000,0.0
25%,18232.280274,18285.384766,18156.614258,18230.160156,18227.615235,1.233350e+08,2144.320069,2152.525024,2134.464966,2142.250000,2142.250000,3.247990e+09,12.405000,12.900000,11.875000,12.300000,12.300000,0.0
50%,22762.029297,22872.890625,22634.449219,22773.669922,22773.669922,2.631800e+08,2521.199951,2551.820068,2503.189941,2531.939941,2531.939941,3.560770e+09,14.190000,15.010000,13.470000,14.090000,14.090000,0.0
75%,25516.320312,25659.810547,25382.705078,25518.895508,25518.895508,3.328450e+08,2815.010010,2831.880004,2800.239991,2817.330078,2817.330078,3.967360e+09,17.685001,19.040001,16.809999,17.665000,17.665000,0.0
max,29440.470703,29568.570313,29406.750000,29551.419922,29551.419922,2.190810e+09,3380.449951,3393.520020,3378.830078,3386.149902,3386.149902,9.044690e+09,82.690002,85.470001,330.000000,82.690002,82.690002,0.0

Drop the volume columns as they seem a little wonky...

In [ ]:
prices_only = valid_close_complete.drop(['Volume_A', 'Volume_B', 'Volume_C'], axis=1)
prices_only